@{
    ViewData["Title"] = "Login Page";
}

<div class="container">
        <div class="register-box">
            <h2>Welcome to XCOM</h2>
            <h4 id="login">Login</h4>
            <br>
            <div class="input-row">
                <p>Email</p><input type="email" name="email" id="">
            </div>
            <div class="input-row">
                <p>Password</p><input type="password" name="password" id="">
            </div>
            <p>You haven't profile yet? <a href="register.html" class="register-click">Click for Register</a></p>
            <br>
            <button class="login-btn">Login</button>
        </div>
    </div>