@{
    ViewData["Title"] = "Home Pages";
}


    <section class="header">
        <div class="header-container">
            <div class="logo">
                <img src="photos/xcom.png" alt="">
            </div>
            <div class="tables">
                <ul>
                    <li><a href="">For Companies & Teams</a></li>
                    <li><a href="" class="shop" id="shop">Shop <i class="fa-solid fa-chevron-down fa-xs"></i></a></li>
                    <div class="companies">
                            <li><a href="">Companies <i class="fa-solid fa-chevron-down fa-xs"></i></a>                    
                            </li>
                        <div class="bich">
                            <li>salam</li>
                            <li>salam</li>
                        </div>
                    </div>
                    <li><a href="">Pricing</a></li>
                </ul>
            </div>
            <div class="login">
                <p><a href="./Login/index">Login</a></p>
                <a href="#" class="btn">X for Teams</a>
            </div>

        </div>
    </section>

    <section class="downgrade" id="downgrade">
        <div class="downgrade-container">
            <div class="downgrade-title">
                <h2>Not Sure? Take This Quiz to find the right accessory
                </h2>
            </div>
            <div class="downgrade-tables">



                <ul>
                    <li style="margin-bottom: 10px;">
                        <a href="" style="font-weight: 900;">Best Seller</a>
                    </li>
                    <li>Popl Card
                    </li>
                    <li>Custom Card</li>
                    <li>Popl Metal Card</li>
                    <li>Popl Duo Bundle</li>
                    <li>Popl Card Lux
                    </li>
                    <li>Popl PhoneCard™</li>
                    <li>Popl Rope Band</li>
                </ul>

                <ul>
                    <li style="margin-bottom: 10px;">
                        <a href="" style="font-weight: 900;">Custom Accessories</a>
                    </li>
                    <li>Custom Card

                    </li>
                    <li>Custom PhoneCard™</li>
                    <li>Custom Metal Card</li>
                    <li>
                        Custom Badge</li>
                </ul>

                <ul>
                    <li style="margin-bottom: 10px;">
                        <a href="" style="font-weight: 900;">Bundle & Save
                        </a>
                    </li>
                    <li>Popl Duo Bundle
                    </li>
                    <li>Popl Card 3-Pack</li>
                    <li>Popl Card 5-Pack</li>
                    <li>Popl Card 25-Pack</li>
                    <li>Popl PhoneCard™ 3-Pack
                    </li>
                    <li>Popl PhoneCard™ 5-Pack</li>
                </ul>

                <ul>
                    <li style="margin-bottom: 10px;">
                        <a href="" style="font-weight: 900;">Shop By Collection

                        </a>
                    </li>
                    <li>Custom Accessories
                    </li>
                    <li>Cards
                    </li>
                    <li>Back of Phone</li>
                    <li>
                        Wearables</li>
                    <li>For Businesses & Events
                    </li>
                    <li>
                        Bundles</li>
                    <li>Collabs</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="main">

    </section>

